* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system;
  font-size: 120%;
  font-weight: 500;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/background.jpg');
  background-size: cover;
  
}

#intro {
  color: white;
  font-family: fantasy;
  margin-top: 100px;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 60%;
  min-width: 315px;
  max-width: 500px;
  margin: auto;
  justify-self: center;
  font-size: 200%;
  color: white;
  border: 5px solid rgb(132, 201, 228);
  box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
}

.button,
.number5 {
  border: 1px solid black;
  text-align: center;
  padding: 10% 5%;
  background: linear-gradient(50deg, rgba(255,255,255,0.15) 0%, rgb(0, 0, 0) 100%), radial-gradient(at top center, rgba(131, 129, 129, 0.589) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: darken;
  cursor: pointer;
}


.button:hover {
  background: linear-gradient(90deg, rgba(255,255,255,0.15) 0%, rgb(4, 22, 31) 100%), radial-gradient(at top center, rgba(131, 129, 129, 0.589) 0%, rgba(0,0,0,0.40) 120%) #989898;
}

#button5:hover {
  background: linear-gradient(90deg, rgba(255,255,255,0.15) 0%, rgb(19, 1, 1) 100%), radial-gradient(at top center, rgba(131, 129, 129, 0.589) 0%, rgba(0,0,0,0.40) 120%) #989898;
}

